<header class="site-header">
  <div class="container header-flex">
    <a class="site-brand" href="{{ '/' | relative_url }}">
      <i class="fa-solid fa-dna"></i> {{ site.title }}
    </a>
    <nav class="site-nav">
      <ul class="nav-links">
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
        <li><a href="{{ '/categories' | relative_url }}">Categories</a></li>
        <li><a href="{{ '/search' | relative_url }}"><i class="fa-solid fa-magnifying-glass"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
