{% capture tocWorkspace %}
    {% assign minHeader = include.minHeader | default: 2 %}
    {% assign maxHeader = include.maxHeader | default: 3 %}
    {% assign nodes = include.html | split: '<h' %}
    {% assign firstHeader = true %}
    <ul>
    {% for node in nodes %}
        {% if node == "" %}{% continue %}{% endif %}
        {% assign headerLevel = node | replace: '"', '' | slice: 0, 1 | times: 1 %}
        {% if headerLevel < minHeader or headerLevel > maxHeader %}{% continue %}{% endif %}
        {% if firstHeader %}{% assign firstHeader = false %}{% endif %}
        {% assign headerContent = node | split: '</h' | first %}
        {% assign headerContent = headerContent | replace: '">', '"|' | split: '|' | last %}
        {% assign headerId = node | split: 'id="' | last | split: '"' | first %}
        <li><a href="#{{ headerId }}">{{ headerContent | strip_html }}</a></li>
    {% endfor %}
    </ul>
{% endcapture %}{{ tocWorkspace | strip }}
